<div class="login-wrapper">
    <form class="login" (submit)="loginSubmit()">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            MyMovieFinder
            <h5 class="hint">Use your email to sign in or register now</h5>
        </label>
        <div class="login-group">
            <input class="email"  size="45" type="text"  [(ngModel)]="_user.currentUser.email" [ngModelOptions]="{standalone:true}" placeholder="Email">
            <input class="password"   size="45" type="password"  [(ngModel)]="_user.currentUser.password" [ngModelOptions]="{standalone:true}" placeholder="Password">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <!--<div class="error active">-->
            <!--    Invalid user name or password-->
            <!--</div>-->
            <button type="submit" class="btn btn-success">Login</button>
            <a href="#" [routerLink]="['/register']"  class="signup">Not yet a member? Sign-up here</a>
        </div>
    </form>
</div>