<div>
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            MyMovieFinder
            <h5 class="hint">Use your e-mail to sign in or register now</h5>
        </label>
        <div class="login-group">
            <input class="username" type="text"  [(ngModel)]="user.username" placeholder="Username">
            <input class="password" type="password"  [(ngModel)]="user.password" placeholder="Password">
            <button type="button" class="btn btn-primary" (click)="getUserValues()">Login</button>
            <a href="javascript://" class="signup">Register</a>
        </div>
</div>
