<div>
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            MyMovieFinder
            <h5 class="hint">Use your e-mail to sign in or register now</h5>
        </label>
        <div class="login-group">
            <input class="email" type="text"  [(ngModel)]="_user.currentUser.email" placeholder="Username">
            <input class="password" type="password"  [(ngModel)]="_user.currentUser.password" placeholder="Password">
            <button type="button" class="btn btn-primary" (click)="loginSubmit()">Login</button>
            <a href="#" [routerLink]="['/register']"  class="signup">Register</a>
        </div>
</div>
