<!--<div class="movie-container" *ngFor="let movie of movies">-->
<!--    <div class="row flex-items" *ngIf ="movie.poster_path != null">-->
<!--        <div class="col-xs">-->
<!--            <div class="card">-->
<!--                <div class="card-header">-->
<!--                    {{ movie.title }}-->
<!--                </div>-->
<!--                <div class="card-block">-->
<!--                    <div class="card-img">-->
<!--                        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">-->
<!--                    </div>-->
<!--                    <div class="card-text">-->
<!--                       {{ movie.overview }}-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card-footer">-->
<!--                    <button class="btn btn-sm btn-link">Details</button>-->
<!--                    <button class="btn btn-sm btn-link">Footer Action 2</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="centered">
    <section class="cards">
         <div class="card col-xs" *ngFor="let movie of movies">
                
                <div class="card-block">
                   
                    <div class="card-img">
                        <img [src]=" (movie.poster_path == null) ? '../../images/moviedb.svg' : 'https://image.tmdb.org/t/p/w500/' + movie.poster_path">
                    </div>
                     <div class="card-header">
                        {{ movie.title }}
                    </div>
                    <div class="card-text">
                       <p>
                          {{ (movie.overview.length>300)? (movie.overview | slice:0:300)+'...':(movie.overview) }}
                       </p>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-link" (click)="getMovieDetails(movie.id)" >More Info</button>
                    <button class="btn btn-sm btn-link" *ngIf="_user.isLoggedIn.value" (click)="saveToFavorites(movie.title, movie.id, movie.overview, movie.poster_path)" [disabled]="checkIfMovieIsFavorite(movie.id)" >Add to Favorites</button>
                </div>
            </div>
    </section>
</div>

<clr-modal [(clrModalOpen)]="basic" *ngIf="_movie.movieDetails != ''" [clrModalSize]="'xl'">
    <h3 class="modal-title">{{ _movie.movieDetails.title }}</h3>
    <div class="modal-body">
        <div>
            <div>
                <img src="https://image.tmdb.org/t/p/w500/{{_movie.movieDetails.poster_path}}">
            </div>
             <div>
                <h4>{{ _movie.movieDetails.title }}</h4>
               <p>
                   <label>Released on: {{_movie.movieDetails.release_date}}</label><br>
                   <label>Rating: {{_movie.movieDetails.release_date}}</label><br>
                   <a href="{{ _movie.movieDetails.homepage }}">Go to Movie Homepage </a>
                   
               </p> 
            </div>
            <div>
               <h5>Summary</h5>
               <p>
                  {{ _movie.movieDetails.overview }}
               </p>
            </div>
            <div *ngIf="_movie.movieDetails.videos.results.length > 0">
                <h4>Watch Trailer</h4><br>
                <iframe *ngIf="_movie.movieDetails.videos.results[0].key != null" [src]="_sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/' + _movie.movieDetails.videos.results[0].key)" frameborder="0" allowfullscreen width="450" height="300"></iframe>
            <!--<iframe type="text/html" src="https://www.youtube.com/embed/" frameborder="0" allowfullscreen=""></iframe>-->
            </div>
            
        </div><!--.card-block-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="exit()">Close</button>
        <!--<button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>-->
    </div>
</clr-modal>