<!--<div class="movie-container" *ngFor="let movie of movies">-->
<!--    <div class="row flex-items" *ngIf ="movie.poster_path != null">-->
<!--        <div class="col-xs">-->
<!--            <div class="card">-->
<!--                <div class="card-header">-->
<!--                    {{ movie.title }}-->
<!--                </div>-->
<!--                <div class="card-block">-->
<!--                    <div class="card-img">-->
<!--                        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">-->
<!--                    </div>-->
<!--                    <div class="card-text">-->
<!--                       {{ movie.overview }}-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card-footer">-->
<!--                    <button class="btn btn-sm btn-link">Details</button>-->
<!--                    <button class="btn btn-sm btn-link">Footer Action 2</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="centered">
    <section class="cards">
         <div class="card" *ngFor="let movie of movies">
                
                <div class="card-block">
                   
                    <div class="card-img">
                        <img [src]=" (movie.poster_path == null) ? '../../images/moviedb.svg' : 'https://image.tmdb.org/t/p/w500/' + movie.poster_path">
                    </div>
                     <div class="card-header">
                        {{ movie.title }}
                    </div>
                    <div class="card-text">
                       <p>
                          {{ (movie.overview.length>300)? (movie.overview | slice:0:300)+'...':(movie.overview) }}
                       </p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" [routerLink]="['/movie']" class="btn btn-sm btn-link" (click)="setMovieId(movie.id)" >More Info</a>
                </div>
            </div>
    </section>
</div>
