.posters{
    width: 250px;
    height: 350px;
}

.movie-summary{
    margin-left: 20px;
}

.movie-specs{
    margin-left: 10px;
    padding: 3px;
}

.movie-video{
    margin: 5px;
    padding: 5px;
}

.heart{
    color: red;
}

.heart:hover{
    color: red;
}