

<div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
             <div class="card-block">
                    <div class="card-img">
                        <!--<img src="https://image.tmdb.org/t/p/w500/{{_movie.movieDetails.poster_path}}">-->
                    </div>
                     <div class="card-header">
                        {{ _movie.movieDetails.title }}
                    </div>
                    <div class="card-text">
                       <p>
                          {{ _movie.movieDetails.overview }}
                       </p>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
                <!--<button class="btn btn-outline" type="button">Close</button>-->
                <button class="btn btn-success" type="button" (click)="closeWindow()">Back</button>
            </div>
    </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
