<div class="centered">
    <section class="cards">
         <div class="card" *ngFor="let movie of userFavoriteMovies">
                
                <div class="card-block">
                   
                    <div class="card-img">
                        <img [src]=" (movie.poster_path == null) ? '../../images/moviedb.svg' : 'https://image.tmdb.org/t/p/w500/' + movie.poster_path">
                    </div>
                     <div class="card-header">
                        {{ movie.title }}
                    </div>
                    <div class="card-text">
                       <p>
                          {{ movie.overview }}
                       </p>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-link" (click)="getMovieDetails(movie.movieId)" >More Info</button>
                    <button class="btn btn-sm btn-link" *ngIf="_user.isLoggedIn.value" (click)="saveToFavorites(movie.title, movie.id)">Remove from Favorites</button>
                </div>
            </div>
    </section>
</div>
<clr-modal [(clrModalOpen)]="basic" *ngIf="_movie.movieDetails != ''">
    <h3 class="modal-title">{{ _movie.movieDetails.title }}</h3>
    <div class="modal-body">
        <div class="card-block">
            <div class="card-img">
                <img src="https://image.tmdb.org/t/p/w500/{{_movie.movieDetails.poster_path}}">
            </div>
             <div class="card-header">
                {{ _movie.movieDetails.title }}
                <a href="{{ _movie.movieDetails.homepage }}">Movie Homepage </a>
            </div>
            <div class="card-text">
               <p>
                  {{ _movie.movieDetails.overview }}
               </p>
            </div>
        </div><!--.card-block-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="basic = false">Close</button>
        <!--<button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>-->
    </div>
</clr-modal>