<div class="card-block">
                   
    <div class="card-img">
        <img [src]=" (movie.poster_path == null) ? '../../images/moviedb.svg' : 'https://image.tmdb.org/t/p/w500/' + movie.poster_path">
    </div>
    
     <div class="card-header">
        {{ movie.title }}
    </div>
    
    <div class="card-text">
       <p>
          {{ (movie.overview.length>300)? (movie.overview | slice:0:300)+'...':(movie.overview) }}
       </p>
    </div>
</div>

<div class="card-footer">
    <app-movie-card-footer [movie]="movie" [mode]="mode"></app-movie-card-footer>
</div>
