<div class="login-wrapper">
    <form class="login" (submit)="registerSubmit()">
        <label class="title">
            <h3 class="welcome">Sign-Up to</h3>
            MyMovieFinder
        </label>
        <div class="login-group">
            <input type="text" size="45" [(ngModel)]="_user.currentUser.firstName" [ngModelOptions]="{standalone:true}" placeholder="First Name">
            <input type="text"   size="45" [(ngModel)]="_user.currentUser.lastName" [ngModelOptions]="{standalone:true}" placeholder="Last Name">
            <input type="email"  size="45" [(ngModel)]="_user.currentUser.email" [ngModelOptions]="{standalone:true}" placeholder="Email">
            <input type="password"  size="45" [(ngModel)]="_user.currentUser.password" [ngModelOptions]="{standalone:true}" placeholder="Password">

           
            <!--<div class="error active">-->
            <!--    Invalid user name or password-->
            <!--</div>-->
            <button type="submit" class="btn btn-success">Sign-Up</button>
        </div>
    </form>
</div>
